*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color:rgb(48, 45, 41);
}
.ul{
  display: flex;
  list-style-type: none;
  
  align-items: center;
  justify-content: flex-end;
  color: white;
  gap: 20px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: 500;
}
.container{
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 2%;
  
}
.log{
  padding-right: 155px;

  width: 80%;
}
.im{
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  margin-top: 3%;
}
button{
  font-size: bolder;
  color: rgb(208, 152, 48);
  background-color:rgb(48, 45, 41);
  border: 1px solid rgb(196, 145, 50);
  padding: 5px 15px;
  border-radius: 3px;
  font-family: sans-serif;
  font-weight: bold;
}
.middle{
  display: flex;
  margin-top:3%;
  align-items: center;
}
.right{
  width: 59%;
  font-family: sans-serif;
  font-size: 25px;
  color: white;
  margin-right: 2%;
 }
.left{
  width: 41%;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
 
  text-align: left;
  
}